@font-face {
	font-family: 'MemphisLight';
	src: url('fonts/mpl.eot'); /* IE9 Compat Modes */
	src: url('fonts/mpl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/mpl.woff') format('woff'), /* Pretty Modern Browsers */
	url('fonts/mpl.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('fonts/mpl.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'MemphisMedium';
	src: url('fonts/mpm.eot'); /* IE9 Compat Modes */
	src: url('fonts/mpm.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('fonts/mpm.woff') format('woff'), /* Pretty Modern Browsers */
	url('fonts/mpm.ttf')  format('truetype'), /* Safari, Android, iOS */
	url('fonts/mpm.svg#svgFontName') format('svg'); /* Legacy iOS */
}