/**** Global variables *****
#f9b322 #FFF8EE - yellow
#7f66a6 #8B74AF #4c3d64 - violet
#ececec - grey
#565655 - top grey
#adca58 - green
#bab7d8 - purple
*****/

/*********** # General styles *******************************************************/

body {
	background: #FFF url('../images/capas-page-bg.png') center top no-repeat;
	font-family: "Open Sans", "Helvetica", sans-serif;
	min-width: 573px;
}

/* Decrease bootstrap gutter */
body .col {
	padding-right:3px;
	padding-left:3px;
}

/* Fix bootstrap row margin */
body .row {
	margin: 0;
}

.basic-layout .container .l-content,
.basic-layout .container .l-region {
	padding-bottom: 6px;
}

.l-content {
	position: relative;
}

/* Links */

a {
	text-decoration: underline;
	outline: 0 !important;
}

a:active {
	outline: 0 !important;
	-moz-outline: 0 !important;
}

h1 a, h2 a, h3 a {
	text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover {
  text-decoration: underline;
}
a, a:hover, a:active {
	color: #adca58;
}

a:hover, a:active {
	text-decoration: none;
}

/* Unformated list */

li {
	list-style-image: url('../images/ico-li.png');
}

/* Headings */

.l-content h1, .l-content h2, .l-content h3 {
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	color: #7f66a6;
}

.l-content h1 {
	font-size: 44px;
}

.node-type-capas-basic-page .l-content h1,
.node-type-capas-news .l-content h1,
.node-type-capas-training .l-content h1 {
	/*width: 80%;*/
}

/* Select list */

/*select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: #7f66a6 url('../images/ico-select-arrow.png') no-repeat right center !important;
	padding: 5px 10px !important;
	text-overflow: '';
	text-indent: 0.01px;
	outline: 0 !important;
}
::-ms-expand {
	display: none;
}

select option {
	padding: 5px 10px;
	outline: 0 !important;
}

select:focus,
select::selection,
textarea:focus,
input:focus {
	outline: 0 !important;
	-moz-outline: none !important;
}

select.form-control:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: 0 !important;
}

select:-moz-focusring {
	-moz-outline: none !important;
} */

.page-admin select.form-control {
	width: auto;
}

/* Hover for selectpicker */

.btn.dropdown-toggle.selectpicker:hover {
	opacity: 0.8;
}

/* Change bootstrap theme overrides */

.views-exposed-form .views-exposed-widget .form-control.form-select .btn {
	margin-top: 0;
}

.views-exposed-form .form-control.form-select .caret{
	display: none;
}

/* Green buttons */

.page-icons-wrapper {
	width: 30px;
	position: fixed;
	top: 210px;
	display: none;
	/*left: 10px;*/
}

.page-node .page-icons-wrapper,
.page-user- .page-icons-wrapper {
	top: 211px;
}

.admin-menu .page-icons-wrapper {
	top: 230px;
}

.page-node.admin-menu .page-icons-wrapper,
.page-user-.admin-menu .page-icons-wrapper {
	top: 231px;
}

.page-icon-wrapper,
.st_sharethis_custom {
  width: 30px;
	height: 30px;
	display: block;
	margin-bottom: 4px;
	background: #adca58 no-repeat center center;
	cursor: pointer;
}

/* Hover for buttons */

.page-icon-wrapper:hover,
.st_sharethis_custom:hover {
	opacity: 0.8;
}

/* Print */

.page-print-wrapper {
	background-image: url('../images/ico-print.png');
}

/* Top */

.page-top-wrapper {
	background-image: url('../images/ico-top.png');
}

/* Share */

.st_sharethis_custom {
	background-image: url('../images/ico-socials.png');
}

/* RSS */

.page-rss-wrapper {
	background-image: url('../images/ico-rss.png');
}

/*********** # Header ***************************************************************/

/* Contain Logo, Site slogan, Top menu */

/* Header */

#top-fixed-gap {
	width: 100%;
	height: 210px;
	display: block;
	background: transparent;
}

.admin-menu #top-fixed-gap {
	height: 171px;
}

.navbar-administration #top-fixed-gap {
	height: 171px;
}

header#header {
	position: fixed;
	top: 0;
	z-index: 101;
	width: 100%;
	background-color: #FFFFFF;
	transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	height: 120px;
}

.admin-menu header#header {
	top: 20px;
}

/* Branding wrapper */

.branding-inner-wrapper {
	display: inline-block;
	width: 469px;
}

/* Logo */

.site-logo {
	display: inline-block;
	float: left;
  margin: 30px 45px 25px 0;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

.site-logo:hover {
	opacity: 0.8;
}

.site-logo img {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

.site-logo img:hover {
	cursor: pointer;
}

.view-id-cap_news.view-display-id-page .owner .views-field-field-cap-logo,
.view-id-cap_trainings.view-display-id-page .owner .views-field-field-cap-logo,
.view-id-cap_events.view-display-id-page .owner .views-field-field-cap-logo,
.view-id-cap_jobs.view-display-id-page .owner .views-field.views-field-field-cap-logo {
	width: 80px;
	height: 30px;
	background: url('../images/logo-capas-thumb.png');
}

.view-id-cap_news.view-display-id-page .owner .views-field-field-cap-logo img,
.view-id-cap_trainings.view-display-id-page  .owner .views-field-field-cap-logo img,
.view-id-cap_events.view-display-id-page .owner .views-field-field-cap-logo img,
.view-id-cap_jobs.view-display-id-page .owner .views-field.views-field-field-cap-logo img {
	display: none;
}

/* Site slogan */

.site-slogan {
	font-size: 18px;
  margin-top: 45px;
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	padding-right: 45px;
	color: #565655;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

/* ---------- Admin menu ---------- */

.role-owner #admin-menu .admin-menu-toolbar-category a[href="/en/admin/config"],
.role-owner #admin-menu .admin-menu-toolbar-category a[href="/admin/config"] {
	display: none !important;
}

/* ---------- Top menu ------------ */

/* Bootstrap animation */

.dropdown .dropdown-menu {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition:         all 0.3s  ease;
	-moz-transition:    all 0.3s  ease;
	-webkit-transition: all 0.3s  ease;
	-o-transition:      all 0.3s  ease;
	-ms-transition:     all 0.3s  ease;
}
.dropdown:hover .dropdown-menu {
	visibility: visible;
	opacity: 1;
}
.dropdown {
	display: inline-block;
}

/* Resizing  start*/

header#header.resize .site-slogan,
header#header.resize .site-logo img {
	transform: scale(0.8);
}

header#header.resize .site-logo {
	margin: 11px 25px 4px -13px;
	position: relative;
	z-index: 102;
}

header#header.resize .site-slogan {
	margin-top: 26px;
}

header#header.resize {
	height: 80px;
}

header#header.resize ul.menu {
	margin-top: 20px;
}

/* Resizing end */

header#header ul.menu li a {
	color: #565655;
	font-size: 16px;
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	display: block;
	padding: 16px 0 8px 0;
	text-decoration: none;
}

header#header ul.menu li a:hover {
	background-color: transparent;
}

header#header ul.menu li a .caret {
	display: none;
}

header#header ul.menu > li {
	padding-left: 12px;
	padding-right: 12px;
	height: 48px;
}

header#header ul.menu {
	margin-right: -21px;
	margin-top: 40px;
	float: right;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

header#header ul.menu li.last {
	margin-right: 0;
}

header#header ul.menu a:hover,
header#header ul.menu li.dropdown.expanded.active-trail > a:hover,
header#header ul.menu > li:hover > a,
header#header ul.menu li a.active-trail {
	color: #f9b322;
	text-decoration: none;
	border-bottom: 5px solid #f9b322;
	cursor: pointer;
}

header#header ul.menu li.dropdown.expanded > a:hover {
	border-bottom: none;
}

header#header ul.menu a.active {
	color: #f9b322;
	border-bottom: 5px solid #f9b322;
	text-decoration: none;
}

header#header ul.menu li ul a:hover {
	border-bottom: 0;
}

header#header ul.menu li.dropdown.expanded:hover {
	-webkit-box-shadow: 0px 0px 4px 1px rgba(153,153,153,0.75);
	-moz-box-shadow: 0px 0px 4px 1px rgba(153,153,153,0.75);
	box-shadow: 0px 0px 4px 1px rgba(153,153,153,0.75);
	/*border-bottom: 5px solid #f9b322;*/
}

header#header ul.menu li ul {
	-webkit-box-shadow: 0px 0px 4px 0px rgba(153,153,153,0.75);
	-moz-box-shadow: 0px 0px 4px 0px rgba(153,153,153,0.75);
	box-shadow: 0px 0px 4px 0px rgba(153,153,153,0.75);
	background: #ffffff;
	z-index: 9;
	border-radius: 0;
	margin-left: 0;
}

header#header ul.menu .dropdown-border {
	top: 44px;
}

header#header ul.menu li.dropdown.expanded:hover .dropdown-border {
	display: block;
}

header#header ul.menu li ul li {
	white-space: nowrap;
	list-style: none;
	background: #ffffff;
}

header#header ul.menu li ul li:hover {
	background: #ffffff;
}

header#header ul.menu li ul li a {
	padding: 0 17px 17px 19px;
	background: #ffffff
}

header#header ul.menu li ul li a:hover {
	background: #ffffff;
}

header#header ul.menu li ul li.first a {
	padding-top: 17px;
}

header#header ul.menu li ul li.active-trail a {
	border-bottom: none;
	color: #fcd286;
}

/*********** # Main Menus & Contents *************************************************/

/* ---------- Main menu ------------ */

/* Menu toggle */

button.navbar-toggle.collapsed {
	width: 60px;
	height: 60px;
	background: url('../images/ico-menu-toggle.png') #7f66a6 center center no-repeat;
	border-radius: 0;
	margin: 0;
	position: fixed;
	right: 102px;
	top: 30px;
	z-index: 120;
	transition: transform .3s ease-in-out, top .3s ease-in-out;
	-webkit-transition: transform .3s ease-in-out, top .3s ease-in-out;
	-moz-transition: transform .3s ease-in-out, top .3s ease-in-out;
	-o-transition: transform .3s ease-in-out, top .3s ease-in-out;
	-ms-transition: transform .3s ease-in-out, top .3s ease-in-out;
}

button.navbar-toggle {
	width: 60px;
	height: 60px;
	background: url('../images/ico-menu-toggle.png') #8B74AF center center no-repeat;
	border-radius: 0;
	margin: 0;
	position: fixed;
	right: 102px;
	top: 30px;
	z-index: 120;
	transition: transform .3s ease-in-out, top .3s ease-in-out;
	-webkit-transition: transform .3s ease-in-out, top .3s ease-in-out;
	-moz-transition: transform .3s ease-in-out, top .3s ease-in-out;
	-o-transition: transform .3s ease-in-out, top .3s ease-in-out;
	-ms-transition: transform .3s ease-in-out, top .3s ease-in-out;
}

button.navbar-toggle.collapsed.resize {
	transform: scale(0.8);
	top: 10px;
}

.admin-menu button.navbar-toggle.collapsed {
	top: 46px;
}

.admin-menu button.navbar-toggle.collapsed.resize {
	top: 25px;
}

/* Hovered mobile menu */

#mobile-menu-bg {
	display: none;
	position: absolute;
	z-index: 110;
	background-color: #7f66a6;
	width: 100%;
	top: 0;
	bottom: 0;
	padding: 30px 20% 20% 20%;
}

#mobile-menu-bg ul.menu,
#mobile-menu-bg ul.menu li {
	float: none;
	clear: both;
}

#mobile-menu-bg ul.menu li {
	background: #8B74AF;
	text-align: center;
	margin-bottom: 6px;
}

#mobile-menu-bg ul.menu li a {
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
}

#mobile-menu-bg ul.menu li:hover {
	background: #8B74AF;
}

#mobile-menu-bg ul.menu li:hover a {
	color: #f9b322;
	background: #8B74AF;
}

#mobile-menu-bg ul.menu ul,
#mobile-menu-bg ul.menu .caret {
  display: none !important;
}

/* Set relative to operate with absolute */

#header .row {
	position: relative;
}

/* Resizing start */

#navigation.resize {
	top: 80px;
	height: 41px;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(98,78,128,0.75);
	-moz-box-shadow: 0px 0px 4px 1px rgba(98,78,128,0.75);
	box-shadow: 0px 0px 4px 1px rgba(98,78,128,0.75);
}

.admin-menu #navigation.resize {
	top: 100px;
}

#navigation.resize ul.menu > li {
	height: 39px;
}

#navigation.resize a {
	font-size: 17px;
	padding: 12px 0 3px 0;
}

#navigation.resize li ul a {
	font-size: 15px;
	padding: 0 27px 21px 27px;
}

#navigation.resize .dropdown-border {
	top: 35px;
}

/* Resizing end */

#navigation {
	width: 100%;
	background-color: #7f66a6;
	height: 60px;
	border-top: 1px #dfd8e8 solid;
}

#navigation {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	margin-bottom: 34px;
	position: fixed;
	top: 120px;
	z-index: 100;
}

.admin-menu #navigation {
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	top: 140px;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}
ul.nav li.dropdown ul.dropdown-menu {
	margin-top: 0;
}

.l-region--navigation {
	padding-left: 3px;
	padding-right: 3px;
}

#navigation ul.menu {
	width: 1012px;
}

#navigation a {
	color: #FFFFFF;
	font-size: 18px;
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	display: block;
	padding: 22px 0 12px 0;
	background: transparent;
	text-decoration: none;
	transition: font .3s ease-in-out, padding .3s ease-in-out;
	-webkit-transition: font .3s ease-in-out, padding .3s ease-in-out;
	-moz-transition: font .3s ease-in-out, padding .3s ease-in-out;
	-o-transition: font .3s ease-in-out, padding .3s ease-in-out;
	-ms-transition: font .3s ease-in-out, padding .3s ease-in-out;
}

#navigation li.menuparent {
	padding-bottom: 9px;
	position: relative;
}

.dropdown-border {
	display: none;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #f9b322;
	left: 0px;
	top: 54px;
	z-index: 10;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

#navigation a:hover,
#navigation ul.menu > li:hover > a {
	color: #f9b322;
	text-decoration: none;
	cursor: pointer;
}

#navigation a:hover,
#navigation li.menuparent.active-trail > a:hover {
	border-bottom: 5px solid #f9b322;
}

#navigation li.dropdown.expanded a:hover {
	border-bottom: none;
}

#navigation li.expanded.dropdown {
	transition: padding .3s ease-in-out;
	-webkit-transition: padding .3s ease-in-out;
	-moz-transition: padding .3s ease-in-out;
	-o-transition: padding .3s ease-in-out;
	-ms-transition: padding .3s ease-in-out
}

#navigation li.expanded.dropdown:hover {
	-webkit-box-shadow: 0px 0px 4px 1px rgba(98,78,128,0.75);
	-moz-box-shadow: 0px 0px 4px 1px rgba(98,78,128,0.75);
	box-shadow: 0px 0px 4px 1px rgba(98,78,128,0.75);
	/*border-bottom: 5px solid #f9b322;*/
}

#navigation li.dropdown.expanded:hover .dropdown-border {
	display: block;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

#navigation li ul a:hover {
	border-bottom: 0;
}

#navigation li ul {
	-webkit-box-shadow: 0px 0px 4px 1px rgba(98,78,128,0.75);
	-moz-box-shadow: 0px 0px 4px 1px rgba(98,78,128,0.75);
	box-shadow: 0px 0px 4px 1px rgba(98,78,128,0.75);
	background: #7f66a6;
	border-radius: 0;
	border: none;
	z-index: 9;
	margin-left: 0;
}

#navigation li ul li {
	list-style: none;
}

#navigation li ul li .nolink {
	display: block;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
}

#navigation li ul li a,
#navigation li ul li .nolink {
	padding: 0 27px 21px 27px;
}

#navigation li ul li.first a,
#navigation li ul li.first .nolink {
	padding-top: 21px;
}

#navigation li ul li.active-trail a {
	border-bottom: none;
	color: #a392c1;
}

#navigation li ul a {
	font-size: 15px;
}

#navigation a.active,
#navigation li.active-trail > a {
	color: #f9b322;
	border-bottom: 5px solid #f9b322;
}

#navigation a .caret {
	display: none;
}

#navigation ul.menu > li {
	padding-left: 24px;
	padding-right: 23px;
	white-space: nowrap;
	display: inline-block;
	height: 59px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

#navigation ul.menu {
	margin-top: 0;
	margin-left: -36px;
}

#navigation {
  margin-bottom: 34px;
}

/* Menu > Heading */

/* Menu > Submenus */

/* Menu > Submenus > Block */

.l-region--sidebar-first .block--menu-block {
	background-color: #7f66a6;
	margin-bottom: 6px;
}

.l-region--sidebar-first .block--menu-block a,
.l-region--sidebar-first .block--menu-block .nolink {
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	font-size: 17px;
	color: #FFFFFF;
	padding-left: 33px;
	text-decoration: none;
}

.l-region--sidebar-first .block--menu-block .nolink {
	color: #333333;
}

.l-region--sidebar-first .block--menu-block a.active {
	background-color: #FFFFFF;
	color: #f9b322;
	border-bottom: 5px solid #f9b322;
	padding-bottom: 5px;
}

.l-region--sidebar-first .block--menu-block a.active:hover {
	background-color: #ffffff;
}

.l-region--sidebar-first .block--menu-block a,
.l-region--sidebar-first .block--menu-block .nolink {
	padding-bottom: 7px;
}

.l-region--sidebar-first .block--menu-block .nolink {
	padding-top: 7px;
	display: block;
}

.l-region--sidebar-first .block--menu-block a:hover {
	color: #f9b322;
	background-color: #7f66a6;
}

/* Client Log-In */

/* ---------- Homepage styles ------------ */

/* ---------- Members overview page styles ------------ */

body.page-membres .l-content-inner-wrapper {
	background-color: transparent;
	padding: 0;
}

/* Exposed filters */

/* Views styles overrides */
.views-exposed-form .views-exposed-widget {
	padding: 0;
}

/* Bootstrap select dropdown */
.views-exposed-form .bootstrap-select.btn-group .dropdown-menu {
	color: #ffffff;
	background-color: #7f66a6;
}

.views-exposed-form .dropdown-menu > li > a {
	color: #ffffff;
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
}

.views-exposed-form .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #ffffff;
	background-color: #8B74AF;
}

body.page-membres h1.main-page-title,
#block-views-exp-cap-members-page-1 h2.block-title {
	color: #FFFFFF;
	margin-bottom: 32px;
	font-size: 40px;
}

#block-views-exp-cap-members-page-1 h2.block-title {
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
}

.view-cap-members .view-filters .view-filters-inner-wrapper,
#block-views-exp-cap-members-page-1 {
	background-color: #7f66a6;
	padding: 55px 30px 30px 30px;
	height: 272px;
}

#block-views-exp-cap-members-page-1 {
	margin-bottom: 6px;
}

.view-cap-members .view-filters .form-control.form-select.btn-group {
	height: 32px;
	background: #7f66a6;
	margin-bottom: 27px;
}

.view-cap-members .view-filters .form-control,
#block-views-exp-cap-members-page-1 .form-control,
.view-cap-members .view-filters .form-control .btn,
#block-views-exp-cap-members-page-1 .form-control .btn {
	background: #7f66a6 url('../images/ico-select-arrow.png') no-repeat right center;
	border-color: #ffffff;
	color: #ffffff;
	width: 310px;
	height: 32px;
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	margin-bottom: 27px;
	/*border-radius: 0;
	border: 2px solid #baaece;
	background-color: #7f66a6;
	color:#FFFFFF;
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	padding-top: 8px;
	width: 310px;*/
}

@media (max-width:1500px)  {
	.view-cap-members .view-filters .form-control,
	#block-views-exp-cap-members-page-1 .form-control,
	.view-cap-members .view-filters .form-control .btn,
	#block-views-exp-cap-members-page-1 .form-control .btn {
		width: 256px;
	}
}

.view-cap-members .view-filters .form-control#edit-member,
#block-views-exp-cap-members-page-1 .form-control#edit-member {
	margin-bottom: 20px;
}

/* Views header */
.view-cap-members .view-header .view-header-inner-wrapper {
	background-color: #f9b322;
	padding: 55px 63px 55px 60px;
	height: 272px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	color: #FFFFFF;
	font-size: 21px;
	font-weight: lighter;
}

.view-cap-members .view-header h2 {
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	color: #FFFFFF;
	font-weight: lighter;
	font-size: 40px;
	margin: 0 0 30px;
}

/* Member tile style */

.view-cap-members .view-content .col .views-field {
	background-color: #FFFFFF;
	padding: 35px;
	height: 210px;
	text-align: center;
	border: 1px solid #ececec;
	cursor: pointer;
	margin-bottom: 6px;
}

/* Saturation */

.view-cap-members .view-content .col .views-field img,
.view-relevant-content .col .field--name-field-cap-logo img {
	-webkit-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%);
}

.view-cap-members .view-content .col .views-field:hover img,
.view-relevant-content .col .field--name-field-cap-logo:hover img {
	-webkit-filter: grayscale(0);
	-ms-filter: grayscale(0);
	filter: grayscale(0);
}

.view-cap-members .view-content .col .views-field .img-responsive {
  display: inline-block;
}

.view-cap-members .view-content .col .views-field .field-content {
	display: table;
	width: 100%;
	height: 100%;
}

.view-cap-members .view-content .col .views-field a {
  display: table-cell;
	vertical-align: middle;
}

/* Pager */

.view-cap-members .pager {
	display: none;
}

/* ---------- Jobs overview page styles ------------ */

body.page-jobs .l-content-inner-wrapper {
	background-color: transparent;
	padding: 0;
}

.view-cap-jobs .view-content .col {
	padding-bottom: 6px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
}

/* Page title */

body.page-jobs h1.main-page-title {
	color: #FFFFFF;
	margin-bottom: 32px;
	font-size: 40px;
}

.view-cap-jobs .view-content .col .grid-page-title {
	padding: 30px 75px 20px 25px;
	height: 180px;
	background-color: #7f66a6;
}

/* Job tile style */

.view-cap-jobs .view-content .col .job-inner-wrapper,
.view-cap-jobs.view-display-id-block_1 .views-row {
	background-color: #FFFFFF;
	padding: 19px 45px 15px 49px;
	height: 180px;
	border: 1px solid #ececec;
	position: relative;
	cursor: pointer;
}

.view-cap-jobs.view-display-id-block_1 .views-row {
	background: #adca58;
	margin-bottom: 6px;
	border: none;
}

/* Owner item */

.view-cap-jobs .view-content .col .job-inner-wrapper.owner {
	background-color: #7f66a6;
}

#block-views-cap-news-block-1 .view-cap-news .view-content .col .news-inner-wrapper.owner {
	background-color: #FFFFFF;
}

.view-cap-jobs .job-inner-wrapper.owner .views-field-title a,
.view-cap-jobs .job-inner-wrapper.owner .views-field-nothing,
.view-cap-jobs .job-inner-wrapper.owner .views-field-created {
	color: #FFFFFF;
}

/* Mail icon */

.mail-icon {
	width: 26px;
	height: 26px;
	background: url('../images/ico-job.png') no-repeat;
	position: absolute;
	left: 15px;
	top: 15px;
}

.view-cap-jobs.view-display-id-block_1 .mail-icon {
	background: url('../images/ico-job-white.png') no-repeat;
}

/* Member logo */

.view-cap-jobs .views-field-field-cap-logo {
	float: right;
	padding: 0 0 15px 15px;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 15px;
}

/* Mail label caption */

.view-cap-jobs .views-field-nothing {
	font-family: "Open Sans", "Helvetica", sans-serif;
	color: #7f66a6;
}

/* Date */

.view-cap-jobs .views-field-created {
	text-transform: lowercase;
	color: #f9b322;
	margin-bottom: 20px;
	font-size: 14px;
}

.view-cap-jobs.view-display-id-block_1 .views-field-created {
	color: #ffffff;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
}

.view-cap-jobs .views-field-title a {
	color: #7f66a6;
	font-size: 19px;
	line-height: 19px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	text-decoration: none;
}

.view-cap-jobs .views-field-title a:hover {
	text-decoration: none;
}

.view-cap-jobs.view-display-id-block_1 .views-field-title a {
	color: #ffffff;
}

/* Pager */

.view-cap-jobs .pager {
	display: none;
}

/* ---------- Trainings overview page styles ------------ */

body.page-formations .l-content-inner-wrapper {
	background-color: transparent;
	padding: 0;
}

.view-cap-trainings .view-content .col {
	padding-bottom: 6px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
}

/* Page title */

body.page-formations h1.main-page-title {
	color: #FFFFFF;
	margin-bottom: 32px;
	font-size: 40px;
}

.view-cap-trainings .view-content .col .grid-page-title {
	padding: 30px 75px 20px 25px;
	height: 180px;
	background-color: #7f66a6;
}

/* View header */

.view-cap-trainings .view-header {
	background-color: #f9b322;
	padding: 40px 75px 20px 25px;
	height: 180px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	color: #FFFFFF;
	font-size: 22px;
	line-height: 27px;
	font-weight: lighter;
}

/* Training tile style */

.training-inner-wrapper {
	background-color: #FFFFFF;
	padding: 19px 45px 15px 49px;
	height: 374px;
	border: 1px solid #ececec;
	position: relative;
	cursor: pointer;
	overflow-y: hidden;
}

/* Training icon */

.training-icon {
	width: 26px;
	height: 26px;
	background: url('../images/ico-teaching.png') no-repeat;
	position: absolute;
	left: 15px;
	top: 15px;
}

/* Training icon caption */

.view-cap-trainings .views-field-nothing-1 {
	font-family: "Open Sans", "Helvetica", sans-serif;
	color: #7f66a6;
	margin-bottom: 30px;
}

.view-cap-trainings .views-field-title a,
.view-cap-trainings .views-field-title a:hover,
.view-cap-trainings .views-field-title a:active {
	color: #7f66a6;
	font-size: 19px;
	line-height: 19px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	text-decoration: none;
}

.view-cap-trainings .views-field-title {
	margin-bottom: 15px;
}

/* Labels */

.view-cap-trainings .views-label {
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	color: #f9b322;
	margin-bottom: 3px;
	display: block;
}

/* Fields */

.view-cap-trainings .views-field-field-cap-training-contacts,
.view-cap-trainings .views-field-body {
	font-size: 16px;
}

.view-cap-trainings .views-field-field-cap-training-contacts a,
.view-cap-trainings .views-field-body a {
	color: #adca58;
}

.view-cap-trainings .views-field-field-cap-training-contacts {
	margin-bottom: 15px;
}

/* Member logo */

.view-cap-trainings .views-field-field-cap-logo {
	float: right;
	padding: 0 0 15px 15px;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 15px;
}

/* Owner item */

.view-cap-trainings .view-content .col .training-inner-wrapper.owner {
	background-color: #7f66a6;
}

#block-views-cap-news-block-1 .view-cap-news .view-content .col .news-inner-wrapper.owner {
	background-color: #FFFFFF;
}

.view-cap-trainings .training-inner-wrapper.owner .views-field-nothing-1,
.view-cap-trainings .training-inner-wrapper.owner .views-field-title a,
.view-cap-trainings .training-inner-wrapper.owner .views-field-field-cap-training-contacts,
.view-cap-trainings .training-inner-wrapper.owner .views-field-body {
	color: #FFFFFF;
}

/* Pager */

.view-cap-trainings .pager {
	display: none;
}

/* ---------- News page styles ----------- */

body.page-news .l-content-inner-wrapper,
body.front .l-content-inner-wrapper {
	background-color: transparent;
	padding: 0;
}

/* Exposed filters */
body.page-news h1.main-page-title {
	color: #FFFFFF;
	margin-bottom: 50px;
	font-size: 40px;
}

.view-cap-news .view-filters .view-filters-inner-wrapper {
	background-color: #7f66a6;
	padding: 40px 30px 30px 30px;
	height: 325px;
}

/* Exposed filter select list */
.view-cap-news .view-filters .form-control.form-select.btn-group {
	height: 32px;
	background: #7f66a6;
}
.view-cap-news .view-filters .form-control .btn {
	background: #7f66a6 url('../images/ico-select-arrow.png') no-repeat right center;
  border-color: #ffffff;
	color: #ffffff;
	width: 310px;
  height: 32px;
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	padding-top: 7px;
	/*border-radius: 0;
	border: 2px solid #baaece;
	background-color: #7f66a6;
	color:#FFFFFF;
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	padding-top: 8px;
	width: 310px;*/
}

.form-type-select.form-item-member,
.form-type-select.form-item-year-value-year {
	margin-right: 3px;
}

@media (max-width:1500px) {
	.view-cap-news .view-filters .form-control,
	.view-cap-news .view-filters .form-control .btn {
		width: 256px;
	}
}

/* Members filter */
.view-cap-news .view-filters .form-control#edit-member,
.view-cap-news .view-filters .form-item-member .btn-group.form-control.form-select {
	margin-bottom: 27px;
}

/* Year filter */

.view-cap-news .view-filters .form-control#edit-year-value-year,
.view-cap-news .view-filters .form-control.form-select.date-year .btn {
	width: 110px;
}

/* icons filter */

.view-cap-news .bef-select-as-links #edit-type-all {
	display: none;
}

.view-cap-news .bef-select-as-links a {
	opacity: 0.55;
}

.view-cap-news .bef-select-as-links a:hover,
.view-cap-news .bef-select-as-links a.active {
	opacity: 1;
}

/* Position */

.view-cap-news .bef-select-as-links #edit-type-4 a {
	background: url('../images/ico-position-white.png') no-repeat -5px -5px;
	width: 18px;
	height: 19px;
	margin: 7px 3px 0 0;
}

.view-cap-news .bef-select-as-links #edit-type-4 a.active {
	background: url('../images/ico-position.png') no-repeat -5px -5px;
}

/* Report */

.view-cap-news .bef-select-as-links #edit-type-5 a {
	background: url('../images/ico-repport-white.png') no-repeat;
	width: 26px;
	height: 26px;
	margin: 1px 6px 0 0;
}

.view-cap-news .bef-select-as-links #edit-type-5 a.active {
	background: url('../images/ico-repport.png') no-repeat;
}

/* Press*/

.view-cap-news .bef-select-as-links #edit-type-6 a {
	background: url('../images/ico-press-white.png') no-repeat -4px -1px;
	width: 18px;
	height: 25px;
	margin: 2px 9px 0 0;
}

.view-cap-news .bef-select-as-links #edit-type-6 a.active {
	background: url('../images/ico-press.png') no-repeat -4px -1px;
}

/* Gallery */

.view-cap-news .bef-select-as-links #edit-type-10 a {
	background: url('../images/ico-gallery-white.png') no-repeat -2px -4px;
	width: 23px;
	height: 19px;
	margin: 6px 4px 0 0;
}

.view-cap-news .bef-select-as-links #edit-type-10 a.active {
	background: url('../images/ico-gallery.png') no-repeat -2px -4px;
}

/* Annonces */

.view-cap-news .bef-select-as-links #edit-type-18 a {
	background: url('../images/ico-annonces-white.png') no-repeat 0;
	width: 26px;
	height: 26px;
	margin: 3px 8px 0 0;
}

.view-cap-news .bef-select-as-links #edit-type-18 a.active {
	background: url('../images/ico-annonces.png') no-repeat;
}

.view-cap-news .bef-select-as-links .form-type-bef-link:last-child a {
	margin-right: 0 !important;
}

.view-cap-news .bef-select-as-links div.form-type-bef-link a {
	font-size: 0;
	color: transparent;
	display: inline-block;
	float: left;
}

.view-cap-news #edit-type-wrapper {
	width: 175px;
	padding-right: 0;
}

@media (max-width:1500px) {
	.view-cap-news #edit-type-wrapper {
		width: 135px;
	}
}

/* Views header */
.view-cap-news .view-header .view-header-inner-wrapper {
	background-color: #f9b322;
	padding: 35px 63px 55px 30px;
	height: 325px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	color: #FFFFFF;
	font-size: 21px;
	font-weight: lighter;
	line-height: 25px;
}

.view-cap-news .view-header h2 {
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	color: #FFFFFF;
	font-weight: lighter;
	font-size: 41px;
	margin: 0 0 26px;
}

/* News tile style */

.front .ds-3col-equal.node--capas-homepage-item {
	margin-bottom: 20px;
}

.front .ds-3col-equal.node--capas-homepage-item .row {

}

.front .ds-3col-equal.node--capas-homepage-item .col {

}

.view-cap-news .view-content .col .news-inner-wrapper,
.ds-3col-equal.node--capas-homepage-item .col.group-middle .group-middle-inner-wrapper {
	background-color: #FFFFFF;
	padding: 19px 45px 15px 49px;
	height: 185px;
	border: 1px solid #ececec;
	position: relative;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	cursor: pointer;
	margin-bottom: 6px;
}

.front .group-right .col a {
	background-color: #7f66a6;
	width: 100%;
	display: block;
	text-align: center;
	color: #FFF;
	text-decoration: none;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	font-weight: bold;
	padding: 25px 25px;
}

.ds-3col-equal.node--capas-homepage-item .col.group-middle .group-middle-inner-wrapper {
	height: 100%;
}

/* News icon */

.view-cap-news .views-field-field-icon-primary {
	position: absolute;
	left: 15px;
	top: 15px;
}

/* Member logo */

.view-cap-news .views-field-field-cap-logo {
	float: right;
	padding: 0 0 15px 15px;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 15px;
}

/* News icon caption */

.view-cap-news .views-field-name,
#block-views-cap-news-block-1 .view-cap-news .views-field-name {
	font-family: "Open Sans", "Helvetica", sans-serif;
	color: #7f66a6;
}

/* Date */

.view-cap-news .views-field-created,
#block-views-cap-news-block-1 .view-cap-news .views-field-created {
	text-transform: lowercase;
	color: #f9b322;
	margin-bottom: 15px;
	font-size: 14px;
}

.view-cap-news .views-field-title a,
#block-views-cap-news-block-1 .views-field-title a {
	color: #7f66a6;
	font-size: 19px;
	line-height: 19px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	text-decoration: none;
}

/* Owner item */

.view-cap-news .view-content .col .news-inner-wrapper.owner {
	background-color: #7f66a6;
}

#block-views-cap-news-block-1 .view-cap-news .view-content .col .news-inner-wrapper.owner {
	background-color: #FFFFFF;
}

.view-cap-news .news-inner-wrapper.owner .views-field-title a,
.view-cap-news .news-inner-wrapper.owner .views-field-name,
.view-cap-news .news-inner-wrapper.owner .views-field-created {
	color: #FFFFFF;
}

/* Files */

.node-type-capas-news .field--name-field-cap-file-raw {
	padding: 15px 0;
}

/* Pager */

.view-cap-news .pager {
	display: none;
}

/* ---------- Events styles ----------- */

body.page-events .l-content-inner-wrapper {
	background-color: transparent;
	padding: 0;
}

.view-cap-events .view-content .col {
	padding-bottom: 6px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
}

/* Page title */

body.page-events h1.main-page-title {
	color: #FFFFFF;
	margin-bottom: 32px;
	font-size: 40px;
}

.view-cap-events .view-content .col .grid-page-title {
	padding: 30px 88px 20px 25px;
	height: 180px;
	background-color: #7f66a6;
}

/* Event tile style */

.view-cap-events .view-content .col .event-inner-wrapper {
	background-color: #FFFFFF;
	padding: 15px 55px 15px 49px;
	height: 87px;
	border: 1px solid #ececec;
	position: relative;
	cursor: pointer;
	overflow-y: hidden;
}

/* Tile shadow */

.event-inner-wrapper .tile-shadow,
.training-inner-wrapper .tile-shadow {
  position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: url('../images/shadow-white.png') repeat-x;
	height: 30px;
}

.event-inner-wrapper.owner .tile-shadow {
	background-image: url('../images/shadow-violet2.png');
}

.event-inner-wrapper:hover .tile-shadow {
	background-image: url('../images/shadow-orange.png');
}

.event-inner-wrapper.owner:hover .tile-shadow {
	background-image: url('../images/shadow-violet.png');
}

.event-inner-wrapper.show-body .tile-shadow {
	background-image: none !important;
}

/* Additional description */

.view-cap-events .view-content .col .event-inner-wrapper.show-body {
  overflow-y: visible;
}

.view-cap-events .views-field-body {
  display: block;
}

.view-cap-events .event-inner-wrapper .event-inner-wrapper-hover {
	/*height: 365px !important;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 87px;
	/*z-index: 98;*/
	/*border: 2px solid #f9b322;*/
	overflow-y: hidden;
	padding: 15px 55px 15px 49px;
	background-color: #ffffff;
}

.view-cap-events .event-inner-wrapper.show-body .event-inner-wrapper-hover {
	/*height: 365px !important;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 98;
	border: 2px solid #f9b322;
	overflow-y: auto;
	padding: 15px 55px 15px 49px;
	background-color: #ffffff;
}

.view-cap-events .event-inner-wrapper.owner .event-inner-wrapper-hover {
	background-color: #7f66a6;
}

.view-cap-events .views-field-body,
.view-cap-events .event-inner-wrapper.show-body .views-field-body {
	display: inline-block;
	/*position: absolute;*/
	/*z-index: 98;*/
	/*padding: 15px 55px 15px 49px;*/
	/*overflow-y: scroll;*/
}

/* Close icon */

.close-icon {
	background: url('../images/close-button.png') no-repeat;
	width: 29px;
	height: 29px;
	position: absolute;
	right: -13px;
	top: -14px;
	display: none;
	z-index: 99;
}

/* Event icon */

.event-icon {
	width: 26px;
	height: 26px;
	background: url('../images/ico-agenda.png') no-repeat;
	position: absolute;
	left: 15px;
	top: 12px;
}

/* Member logo */

.view-cap-events .views-field-field-cap-logo {
	float: right;
	padding: 0 0 15px 15px;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 15px;
}

/* Date */

.view-cap-events .views-field-field-cap-event-date,
#block-views-cap-events-block-1 .view-cap-events .views-field-field-cap-event-date {
	text-transform: lowercase;
	margin-bottom: 14px;
	font-size: 14px;
	font-family: "Open Sans", "Helvetica", sans-serif;
	color: #7f66a6;
}

.view-cap-events .event-inner-wrapper.owner .views-field-field-cap-event-date,
.view-cap-events .event-inner-wrapper.owner .views-field-body {
	color: #FFFFFF;
}

/* Title */

.view-cap-events .views-field-title a,
#block-views-cap-events-block-1 .view-cap-events .views-field-title a {
	color: #7f66a6;
	font-size: 19px;
	line-height: 19px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	text-decoration: none;
	margin-bottom: 13px;
	display: inline-block;
}

.view-cap-events .views-field-title a:hover,
#block-views-cap-events-block-1 .view-cap-events .views-field-title a:hover {
	text-decoration: none;
}

.view-cap-events .event-inner-wrapper.owner .views-field-title a {
	color: #FFFFFF;
}

/* Owner */

.view-cap-events .view-content .col .event-inner-wrapper.owner {
	background-color: #7f66a6;
}

#block-views-cap-events-block-1 .view-cap-events .view-content .col .event-inner-wrapper.owner {
  background-color: #ffffff;
}

/* Pager */

.view-cap-events .pager {
	display: none;
}

/* ---------- Reviews styles ----------- */

/* Block title */

#block-menu-block-2 h2.block-title {
	color: #FFFFFF;
	font-size: 40px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	padding: 25px 60px 18px 33px;
}

/* Green expert block */

#block-views-relevant-content-block-1 {
	background-color: #adca58;
	padding: 22px 25px 25px 50px;
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	font-weight: lighter;
	color: #FFFFFF;
	position: relative;
	margin-bottom: 6px;
}

/* Expert icon */

#block-views-relevant-content-block-1 .expert-icon-white {
	position: absolute;
	background: url('../images/ico-repport-white.png');
	width: 26px;
	height: 26px;
	top: 15px;
	left: 15px;
}

/* Label */

#block-views-relevant-content-block-1 .views-field-field-cap-expert-label,
#block-views-relevant-content-block-1 .views-label-field-cap-expert-recommend {
	color: #7f66a6;
	font-family: "Open Sans", "Helvetica", sans-serif;
	display: block;
	margin-bottom: 21px;
}

/* Files tile */

.view-relevant-content .views-field-field-fc-cap-files .field-collection-view {
	background-color: #FFFFFF;
	padding: 20px 20px 15px 49px;
	height: 185px;
	border: 1px solid #ececec;
	position: relative;
	cursor: pointer;
}

.view-relevant-content .views-field-field-fc-cap-files .col,
#block-views-cap-events-block-1 .view-display-id-block_1 .col,
#block-views-relevant-content-block-3 .col,
.view-relevant-content.view-display-id-block_8 .col {
	padding-bottom: 6px;
}

/* Files icon */

.view-relevant-content .views-field-field-fc-cap-files .field--name-field-icon-primary {
	position: absolute;
	top: 15px;
	left: 15px;
	display: inline-block;
}

/* Label */

.view-relevant-content .views-field-field-fc-cap-files .field--name-title {
	color: #7f66a6;
	font-family: "Open Sans", "Helvetica", sans-serif;
	display: block;
	margin-bottom: 21px;
}

/* File link */

.view-relevant-content .views-field-field-fc-cap-files .field--name-field-cap-file img.file-icon {
	display: none;
}

.view-relevant-content .views-field-field-fc-cap-files .field--name-field-cap-file a {
	color: #7f66a6;
	font-size: 19px;
	line-height: 19px;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	text-decoration: none;
}

.view-relevant-content .views-field-field-fc-cap-files .field--name-field-cap-file a:hover {
	text-decoration: none;
}

/* Images */

.view-relevant-content.view-display-id-block_8 .views-field-field-cap-image a.colorbox {
	background-color: #FFFFFF;
	padding: 0;
	height: 140px;
	border: 1px solid #ececec;
	position: relative;
	cursor: pointer;
	display: block;
	text-align: center;
}

.view-relevant-content.view-display-id-block_8 .views-field-field-cap-image a.colorbox:hover {
	background: #FFF8EE;
}

.view-relevant-content.view-display-id-block_8 .views-field-field-cap-image a.colorbox img {
	display: inline-block;
}

/* Block titles */

#block-views-relevant-content-block-2 h2.block-title,
#block-views-relevant-content-block-3 h2.block-title,
#block-views-cap-news-block-1 h2.block-title,
#block-views-cap-events-block-1 h2.block-title,
#block-views-cap-trainings-block-1 h2.block-title,
.front h1.main-page-title,
#block-views-relevant-content-block-5,
#block-views-relevant-content-block-6,
#block-views-relevant-content-block-7,
#block-views-relevant-content-block-9 {
	height: 55px;
	background: #bab7d8;
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	font-size: 19px;
	color: #FFFFFF;
	padding: 17px 0 10px 17px;
	margin: 0 3px 6px 3px;
}

/* Referenced member tile */

.view-relevant-content .col .field--name-field-cap-logo {
	background-color: #FFFFFF;
	padding: 35px;
	height: 210px;
	text-align: center;
	border: 1px solid #ececec;
	cursor: pointer;
}

.view-relevant-content .col .field--name-field-cap-logo .img-responsive {
	display: inline-block;
}

.view-relevant-content .col .field--name-field-cap-logo .field-items {
	display: inline;
}

.view-relevant-content .col .field--name-field-cap-logo .field-item {
	display: table;
	width: 100%;
	height: 100%;
}

.view-relevant-content .col .field--name-field-cap-logo .field-item a {
	display: table-cell;
	vertical-align: middle;
}

/* ---------- Member page styles ----------- */

body.page-user- h1.main-page-title,
article.user-profile .user-profile-category h2 {
	display: none;
}

body.page-user- .tabs--primary {
	margin-bottom: 30px;
}

/* Logo */

article.user-profile .field--name-field-cap-logo {
	float: left;
	margin-bottom: 15px;
}

/* URL */

article.user-profile .field--name-field-cap-member-url {
	float: right;
	margin-bottom: 15px;
}

article.user-profile .field--name-field-cap-member-url a {
	font-family: MemphisLight, "Open Sans", Helvetica, Sans-serif;
	font-size: 20px;
	color: #adca58;
	padding-top: 3px;
	padding-left: 30px;
	background: url('../images/ico-url.png') no-repeat;
	text-decoration: none;
}

article.user-profile .field--name-field-cap-member-url a:hover {
	text-decoration: underline;
}

/* Summary */

article.user-profile .field--name-field-cap-member-summary {
	clear: both;
}

/* ---------- Tiles tuning -----------------------*/

.news-inner-wrapper:hover,
.event-inner-wrapper-hover:hover,
.training-inner-wrapper:hover,
.job-inner-wrapper:hover,
.page-user- .news-inner-wrapper.owner:hover,
.page-user- .owner .event-inner-wrapper-hover:hover,
.page-user- .training-inner-wrapper.owner:hover,
.page-user- .job-inner-wrapper.owner:hover,
.view-cap-members .view-content .col .views-field:hover,
.view-relevant-content .views-field-field-fc-cap-files .field-collection-view:hover,
.view-relevant-content .col .field--name-field-cap-logo:hover {
	background-color: #FFF8EE !important;
}

.news-inner-wrapper.owner:hover,
.owner .event-inner-wrapper-hover:hover,
.training-inner-wrapper.owner:hover,
.job-inner-wrapper.owner:hover {
	background-color: #8B74AF !important;
}

/* ---------- Left sidebar region styles ----------- */

.l-region.l-region--sidebar-first.well {
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	min-height: 0;
	padding: 0;
}

#block-views-relevant-content-block {
	background-color: #FFFFFF;
	padding: 19px 25px;
	font-family: "Open Sans", "Helvetica", sans-serif;
	font-weight: lighter;
	font-size: 23px;
	color: #7f66a6;
	margin-bottom: 6px;
}

/* Back to list block */

.back-to-list {
	margin-bottom: 6px;
	background-color: #adca58;
	height: 58px;
	width: 100%;
	display: block;
	padding: 18px 0 0 21px;
	cursor: pointer;
}

.back-to-list:hover {
	opacity: 0.9;
}

.back-to-list a {
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	font-size: 16px;
  color: #ffffff;
	text-decoration: none;
	display: inline-block;
	padding: 2px 0 0 35px;
	background: url('../images/ico-back.png') no-repeat left center;
	height: 23px;
}

/* Relevant member logo */

.view-id-relevant_content.view-display-id-block_4 {
	background-color: #ffffff;
	border: 1px solid #ececec;
	margin-bottom: 6px;
	padding: 40px 10px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.view-id-relevant_content.view-display-id-block_4.owner {
	background-color: #7f66a6;
}

.view-id-relevant_content.view-display-id-block_4.owner img {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url("../images/logo-capas-thumb.png");
	width: 80px;
	height: 30px;
	padding-left: 80px;
}

.view-id-relevant_content.view-display-id-block_4:hover {
	background-color: #FFF8EE;
}

.view-id-relevant_content.view-display-id-block_4.owner:hover {
	background-color: #8B74AF;
}

.view-id-relevant_content.view-display-id-block_4 img {
	display: inline-block;
}

/* ---------- Content region styles ----------- */

.l-content h1 {
	margin-top: 0;
}

.l-content-inner-wrapper {
	background-color: #FFFFFF;
	padding: 55px;
}

.l-content .row {
	padding-bottom: 6px;
}

.l-content .row.group,
.l-region .row.group {
	padding-bottom: 0;
}

/* ---------- Node page styles ----------- */

.node .field--name-field-cap-summary,
article.user-profile .field--name-field-cap-member-summary {
	font-weight: lighter;
	font-size: 22px;
	margin-top: 7px;
	margin-bottom: 27px;
}

.node,
article.user-profile {
	font-family: "Open Sans", "Helvetica", sans-serif;
	font-size: 15px;
}


.page-admin .l-content-inner-wrapper,
.page-node .l-content-inner-wrapper,
.page-node .block-views-relevant-content-block,
.page-user- .l-content-inner-wrapper,
#block-views-relevant-content-block {
	border: 1px solid #ececec;
}

.page-node- .field-label {
  font-size: 18px;
	font-family: MemphisMedium, "Open Sans", Helvetica, Sans-serif;
	color: #f9b322;
	padding: 15px 0 0 0;
}

/* Relevant Member logo */

.view.view-display-id-block_4 {
	/*display: block;
	position: absolute;
	top: 55px;
	right: 55px;*/
}


/* ------------ Inner Pages - Main style ------------ */

/* ---------- Site Map ------------ */

/* ------------ Footer ------------ */

footer#footer {
	width: 100%;
	background-color: #7f66a6 !important; /* important - debug for omega, remove later */
	min-height: 170px !important; /* important - debug for omega, remove later */
	padding-top: 30px;
	margin-top: 129px;
}
.dropdown .dropdown-menu {
	display: block;
	visibility: hidden;
	opacity: 0;
	transition:         all 0.3s  ease;
	-moz-transition:    all 0.3s  ease;
	-webkit-transition: all 0.3s  ease;
	-o-transition:      all 0.3s  ease;
	-ms-transition:     all 0.3s  ease;
}
.dropdown:hover .dropdown-menu {
	visibility: visible;
	opacity: 1;
}
.dropdown {
	display: inline-block;
}
footer .boxes-box,
footer .boxes-box a,
footer .boxes-box a:hover,
footer .boxes-box a:active {
	color: #FFFFFF;
	font-size: 13px;
	/*font-family: "Open Sans", "Helvetica", sans-serif;*/
}

footer .boxes-box a {
	text-decoration: underline;
}

footer .boxes-box a:hover {
	text-decoration: none;
}


footer .boxes-box .top {
	font-size: 16px;
	font-weight: bold;
}

#boxes-box-footer_right {
	text-align: right;
}

/* Menu mobile breakpoint and overrides */

/*@media (max-width:992px) {
	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-collapse {
		overflow-x: visible !important;
	}

	.navbar-collapse.in {
		overflow-y: auto !important;
	}

	.collapse.in {
		display: block !important;
	}

	.navbar-toggle {
		display: block;
	}

	.admin-menu #top-fixed-gap {
		height: 148px;
	}

	#navigation, #navigation.resize {
		height: 6px;
	}

	.view-cap-news .view-filters .view-filters-inner-wrapper {
		margin-bottom: 6px;
	}

	.view-cap-members .view-filters .view-filters-inner-wrapper {
		margin-bottom: 6px;
	}

	.admin-menu .page-icons-wrapper {
		top: 177px;
	}

	#top-fixed-gap {
		height: 156px;
	}

	.page-icons-wrapper {
		top: 156px;
	}

	header#header ul.menu,
	#navigation ul.menu {
		display: none !important;
	}
}*/

/* Remove mobile leftovers if necessary */
@media (min-width:993px) {
	#mobile-menu-bg {
		display: none !important;
	}
}

/* Fixes for extra low resolutions */
@media (max-width:510px) {
	h2.site-slogan {
		display: none;
	}
}
